<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - Wanderlust Travel Agency</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header }}
            <main>
                <section id="contact">
                    <div class="contact-flex-container">
                        <div class="contact-container">
                            <form action="/submit_contact" method="post">
                                <h2>Contact Us by Email</h2>
                                <hr>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td><input type="text" name="name" required></td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td><input type="email" name="email" required></td>
                                        </tr>
                                        <tr>
                                            <td>Subject:</td>
                                            <td><input type="text" name="subject" required></td>
                                        </tr>
                                        <tr>
                                            <td>Message:</td>
                                            <td><textarea name="message" required></textarea></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: center;">
                                                <input type="submit" class="btn" value="Send">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p><span>We will get back to you within 24 hours.</span></p>
                            </form>
                        </div>
                        <div class="contact-info-container">
                            <h2>Contact Us by Phone or Mail</h2>
                            <hr>
                            <p>
                                <span>Address:</span> {{contactInfo.address}}
                            </p>
                            <p>
                                <span>Telephone Number:</span> {{contactInfo.telephone_number}}
                            </p>
                            <h2>Business Hours</h2>
                            <hr>
                            <p>
                                <span>{{contactInfo.business_hours.weekdays}}</span>
                            </p>
                            <p>
                                <span>{{contactInfo.business_hours.saturday}}</span>
                            </p>
                            <p>
                                <span>{{contactInfo.business_hours.sunday}}</span>
                            </p>
                        </div>
                    </div>
                </section>
            </main>
            {{> footer }}
        </div>
    </div>
    <script src="js/scripts.js"></script>
</body>
</html>